# BDAT 1004 â€“ Data Programming

# Problem Set 2

In [168]:
# Question no. 1

a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2

In [169]:
b()

In [170]:
b()

In [171]:
b()

In [172]:
a

6

The value displayed when the last expression a is evaluated will be 6.

Here's an explanation of what happens in each executed statement:

After importing the module, the variable a is initialized to 0.
The function b() is called for the first time. Inside b(), the statement global a is used to indicate that we want to modify the global variable a rather than creating a new local variable. The function c(a) is called, which takes the current value of a (0) and adds 2 to it, resulting in 2. The global variable a is then updated with this new value.
The function b() is called for the second time. The current value of a is now 2. The function c(a) is called again, adding 2 to the current value of a (2), resulting in 4. The global variable a is updated with this new value.
The function b() is called for the third time. The current value of a is now 4. The function c(a) is called again, adding 2 to the current value of a (4), resulting in 6. The global variable a is updated with this new value.
Finally, when the expression a is evaluated, it returns the current value of the global variable a, which is 6.
Therefore, the value displayed when the last expression a is evaluated is 6.

In [173]:
# Question no. 2

def fileLength(filename):
    try:
        # Attempt to open the file
        infile = open(filename)
        # Read the contents of the file
        contents = infile.read()
        # Close the file
        infile.close()
        # Return the length of the contents
        return len(contents)
    except FileNotFoundError:
        # Handle the case when the file is not found
        print(f"File {filename} not found.")

In [174]:
fileLength('midterm.py')

284

In [175]:
fileLength('idterm.py')

File idterm.py not found.

In [176]:
# Question no. 3

class Marsupial:
    def __init__(self):
        self.pouch = []  # Initialize an empty list to store pouch contents
    
    def put_in_pouch(self, item):
        self.pouch.append(item)  # Add the item to the pouch list
    
    def pouch_contents(self):
        return self.pouch  # Return the contents of the pouch as a list

In [177]:
m = Marsupial()

In [178]:
m.put_in_pouch('doll')

In [179]:
m.put_in_pouch('firetruck')

In [180]:
m.put_in_pouch('kitten')

In [181]:
print(m.pouch_contents())

['doll', 'firetruck', 'kitten']

In [182]:
class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()  # Call the parent class constructor
        self.x = x  # Initialize x-coordinate
        self.y = y  # Initialize y-coordinate
        
    def jump(self, dx, dy):
        self.x += dx  # Update x-coordinate by dx units
        self.y += dy  # Update y-coordinate by dy units
        
    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

In [183]:
k = Kangaroo(0,0)

In [184]:
print(k)

I am a Kangaroo located at coordinates (0,0)

In [185]:
k.put_in_pouch('doll')

In [186]:
k.put_in_pouch('firetruck')

In [187]:
k.put_in_pouch('kitten')

In [188]:
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [189]:
k.jump(1,0)

In [190]:
k.jump(1,0)

In [191]:
k.jump(1,0)

In [192]:
print(k)

I am a Kangaroo located at coordinates (3,0)

In [193]:
# Question no. 4

def collatz(x):
    print(x)  # Print the current number in the Collatz sequence
    
    if x == 1:
        return  # Base case: Stop the recursion when x reaches 1
    
    if x % 2 == 0:
        collatz(x // 2)  # Recursive call with x divided by 2 if x is even
    else:
        collatz(3 * x + 1)  # Recursive call with 3x + 1 if x is odd

In [194]:
collatz(1)

1

In [195]:
collatz(10)

10
5
16
8
4
2
1

In [196]:
# Question no. 5

def binary(n):
    if n > 1:
        binary(n // 2)  # Recursively call binary() with the quotient of n divided by 2
    print(n % 2, end='')  # Print the remainder of n divided by 2

In [197]:
binary(0)

0

In [198]:
binary(1)

1

In [199]:
binary(3)

11

In [200]:
binary(9)

1001

In [201]:
# Question no. 6

from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.indentation = 0  # Current indentation level
        self.headings = []  # List to store the extracted headings
        self.exclude_title = False  # Flag to exclude data within <title> tag

    def handle_starttag(self, tag, attrs):
        if tag == 'title':
            self.exclude_title = True  # Set flag to exclude data within <title> tag
        elif tag.startswith('h') and len(tag) > 1 and tag[1].isdigit():
            self.indentation = int(tag[1]) - 1  # Set indentation based on tag level

    def handle_endtag(self, tag):
        if tag == 'title':
            self.exclude_title = False  # Reset flag after encountering </title> tag

    def handle_data(self, data):
        if self.indentation >= 0 and not self.exclude_title and data.strip():
            # Exclude title and empty data, add heading to list with appropriate indentation
            heading = ' ' * (self.indentation * 4) + data.strip()
            self.headings.append(heading)

    def print_headings(self):
        for heading in self.headings:
            print(heading)

In [202]:
infile = open('w3c.html')

In [203]:
content = infile.read()

In [204]:
infile.close()

In [205]:
hp = HeadingParser()

In [206]:
hp.feed(content)

In [207]:
hp.print_headings()

W3C Mission
    Principles

In [208]:
# Question no. 7

import requests

def webdir(url, depth, indent):
    if depth < 0:
        return

    # Create indentation string based on the specified indent level
    indentation = ' ' * indent

    # Print the URL with the appropriate indentation
    print(indentation + url)

    # Retrieve the web page content
    response = requests.get(url)
    if response.status_code == 200:
        # Parse the HTML content and find all anchor tags
        anchors = response.html.find('a')

        # Visit each linked web page recursively
        for anchor in anchors:
            linked_url = anchor.attrs.get('href', '')
            if linked_url.startswith('http'):
                # Check if the linked URL matches the desired pattern
                if 'test' in linked_url:
                    webdir(linked_url, depth - 1, indent + 4)

In [209]:
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

In [210]:
# Question no. 8

import sqlite3

# Connect to the database (creates a new file if it doesn't exist)
conn = sqlite3.connect('your_database.db')

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

# Create a table to store the climate data
cursor.execute('''CREATE TABLE IF NOT EXISTS climate_data (
    City TEXT,
    Country TEXT,
    Season TEXT,
    Temperature REAL,
    Rainfall REAL
);''')

# Insert the data into the table
data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
]

cursor.executemany('INSERT INTO climate_data VALUES (?, ?, ?, ?, ?);', data)

# Commit the changes and close the cursor and connection
conn.commit()

In [211]:
# a)

# The below command selects the 'Temperature' column from the 'climate_data' table.
# The fetchall() method retrieves all the rows returned by the query and stores them in the 'temperature_data' variable.

cursor.execute("SELECT Temperature FROM climate_data;")
temperature_data = cursor.fetchall()

# Print the results
print("Temperature data:", temperature_data)

Temperature data: [(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,), (24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,), (24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,), (24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,), (24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,), (24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,), (24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]

In [212]:
# b)

# The below command selects the distinct 'City' values from the 'climate_data' table.
# The fetchall() method retrieves all the unique cities and stores them in the 'unique_cities' variable.

cursor.execute("SELECT DISTINCT City FROM climate_data;")
unique_cities = cursor.fetchall()

# Print the results
print("Unique cities:", unique_cities)

Unique cities: [('Mumbai',), ('London',), ('Cairo',)]

In [213]:
# c)

# The below command selects all columns from the 'climate_data' table where the 'Country' is 'India'.
# The fetchall() method retrieves all the records that match the condition and stores them in the 'india_records' variable.

cursor.execute("SELECT * FROM climate_data WHERE Country = 'India';")
india_records = cursor.fetchall()

# Print the results
print("India records:", india_records)

India records: [('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0), ('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0), ('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0), ('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0), ('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0), ('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0), ('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [214]:
# d)

# The below command selects all columns from the 'climate_data' table where the 'Season' is 'Fall'.
# The fetchall() method retrieves all the records that match the condition and stores them in the 'fall_records' variable.

cursor.execute("SELECT * FROM climate_data WHERE Season = 'Fall';")
fall_records = cursor.fetchall()

# Print the results
print("Fall records:", fall_records)

Fall records: [('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5), ('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5), ('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5), ('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5), ('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5), ('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5), ('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [215]:
# e) 

#The city, country, and season for which the average rainfall is between 200 and 400 millimeters
cursor.execute("SELECT City, Country, Season FROM climate_data WHERE Rainfall BETWEEN 200 AND 400;")
average_rainfall = cursor.fetchall()

# Print the results
print("Average rainfall):", average_rainfall)

Average rainfall): [('Mumbai', 'India', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('London', 'United Kingdom', 'Fall'), ('Mumbai', 'India', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('London', 'United Kingdom', 'Fall'), ('Mumbai', 'India', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('London', 'United Kingdom', 'Fall'), ('Mumbai', 'India', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('London', 'United Kingdom', 'Fall'), ('Mumbai', 'India', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('London', 'United Kingdom', 'Fall'), ('Mumbai', 'India', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('London', 'United Kingdom', 'Fall'), ('Mumbai', 'India', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('London', 'United Kingdom', 'Fall')]

In [216]:
# f) 

# The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order
cursor.execute("SELECT City, Country FROM climate_data WHERE Season = 'Fall' AND Temperature > 20 ORDER BY Temperature ASC;")
average_Fall_temperature = cursor.fetchall()

# Print the results
print("Average Fall temperature:", average_Fall_temperature)

Average Fall temperature: [('Cairo', 'Egypt'), ('Cairo', 'Egypt'), ('Cairo', 'Egypt'), ('Cairo', 'Egypt'), ('Cairo', 'Egypt'), ('Cairo', 'Egypt'), ('Cairo', 'Egypt'), ('Mumbai', 'India'), ('Mumbai', 'India'), ('Mumbai', 'India'), ('Mumbai', 'India'), ('Mumbai', 'India'), ('Mumbai', 'India'), ('Mumbai', 'India')]

In [217]:
# g)

# The total annual rainfall for Cairo
cursor.execute("SELECT SUM(Rainfall) FROM climate_data WHERE City = 'Cairo';")
Cairo = cursor.fetchone()[0]

# Print the results
print("Annual rainfall for Cairo:",Cairo )

Annual rainfall for Cairo: 193.19999999999996

In [218]:
# h)

# The total rainfall for each season
cursor.execute("SELECT Season, SUM(Rainfall) FROM climate_data GROUP BY Season;")
total_rain = cursor.fetchall()

# Print the results
print("Total rainfall for each season:", total_rain)

Total rainfall for each season: [('Fall', 3983.0), ('Spring', 1346.1000000000001), ('Summer', 11945.5), ('Winter', 1610.7)]

In [219]:
# Question no. 9

words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']

In [220]:
# a)

# List comprehension to generate a list of uppercase words
uppercase_list = [word.upper() for word in words]
print(uppercase_list)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [221]:
# b)

# List comprehension to generate a list of lowercase words
lowercase_list = [word.lower() for word in words]
print(lowercase_list)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [222]:
# c)

# List comprehension to generate a list of lengths of words
length_list = [len(word) for word in words]
print(length_list)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [223]:
# d)

# List comprehension to generate a list of lists containing uppercase, lowercase, and length of each word
combined_list = [[word.upper(), word.lower(), len(word)] for word in words]
print(combined_list)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [224]:
# e)

# List comprehension to generate a list of words with 4 or more characters
filtered_list = [word for word in words if len(word) >= 4]
print(filtered_list)

['quick', 'brown', 'jumps', 'over', 'lazy']